!!!
html
  head
    title Emergency Check In
    script(lang='text/javascript', src='/javascripts/jquery.min.js')
    script(lang='text/javascript', src='/javascripts/echeck.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body!= body
